{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "chrome": "65",
          "edge": "16",
          "firefox": "59",
          "ie": "11"
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop",
    "@lingui/babel-preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-emotion",
    "macros"
  ],
  "env": {
    "lingui": {
      "presets": [
        ["@babel/preset-env"],
        "@emotion/babel-preset-css-prop",
        "@lingui/babel-preset-react",
        "@babel/preset-react",
        "@lingui/babel-preset-react"
      ],
      "plugins": [
        [
          "@babel/plugin-proposal-decorators",
          {
            "legacy": true
          }
        ],
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "babel-plugin-emotion",
        "macros"
      ]
    }
  }
}
