/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  --box-size: 450;
  --box-sizepx: 450px;
  --tranlate-amount: 1000;
  --tranlate-amountpx: 1000px;
  /* calc(100vw - var(--box-size)); */
  --perimeter: calc(var(--box-size) * 3.14);
  --rotation: calc(calc(var(--tranlate-amount) / var(--perimeter)) * 360) deg;
}
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
/* ol, ul { */
/* 	list-style: none; */
/* } */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
}

/* ------------------------------- custom */

#root,
html {
  height: 100%;
}
body {
  height: 100%;
  width: 100vw;
  background-color: red;
}

.__landing {
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.__menu-section {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  position: relative;
}
.__menu-section .__menu-section-scroll-description-text {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.__app-header {
  background-color: transparent;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
